/* CSS Reset */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */ 
body {
    background-color: #191d7b;
}

.title-font {
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    color: white;
    margin-top: 10px;
}

.paragraph-font {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: white;
    margin-top: 10px;
}

/* Jumbotron & Call to action */
.banner {
    width: 100%;
}

.call-to-action {
    width: 350px;
    padding: 25px;
    margin: 20px auto;
    text-align: center;
}

/* Button style */ 
.button-style {
    border-radius: 10px;
    border: transparent;
    width: 250px;
    padding: 10px 8px;
    margin-top: 10px;
}

.button-white {
    color: black;
    background-color: white;
}

.button-blue {
    background-color: #5460E8;
}

/* Card style */ 
.card {
    width: 350px;
    border-radius: 20px;
    padding: 50px 25px;
    margin: 40px auto;
    background-image: linear-gradient(to bottom, #333691, #5460E8);
    position: relative;
}

.card-decoration {
    width: 80px;
    position: absolute;
    top: 0;
    left: 175px;
    translate: -50% -50%;
}

/* Videos size and style */ 
.video-style {
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}

/* Discord agent */
.discord-agent {
    height: 60px;
    width: 60px;
    background-image: linear-gradient(to bottom, #333691, #5460E8);
    border: 1px solid white;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.discord-agent img {
    display: block;
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.discord-agent:hover {
    transform: scale(1.1);
}

