/* CSS Reset */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */ 
body {
    background-color: #191d7b;
}

.title-font {
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    color: white;
    margin-top: 10px;
}

.paragraph-font {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: white;
    margin-top: 10px;
}

/* Jumbotron & Call to action */
.banner {
    display: block;
    width: 100%;
}

.call-to-action {
    text-align: center;
    width: 350px;
    padding: 25px;
    margin: 25px auto 0px auto;
    
}

/* Button style */ 
.button-style {
    width: 250px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    border: transparent;
    border-radius: 10px;
    padding: 10px 8px;
    margin-top: 10px;
}  

.button-style:hover {
    transform: scale(1.1);
}

.button-white {
    color: black;
    background-color: white;
}

.button-blue {
    color: white;
    background-color: #5460E8;
}

/* Card style */ 
.card {
    width: 350px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #333691, #5460E8);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 50px 25px;
    margin: 25px auto 50px auto;
    position: relative;
}

.card-decoration {
    width: 80px;
    position: absolute;
    top: 0;
    left: 175px;
    translate: -50% -50%;
}

/* Videos size and style */ 
.video-style {
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}

/* Discord agent */
.discord-agent-box {
    width: 60px;
    height: 60px;
    background-image: linear-gradient(to bottom, #333691, #5460E8);
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.discord-agent-box img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.discord-agent-box:hover {
    transform: scale(1.1);
}

.faq {
    width: 350px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #333691, #5460E8);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 25px 25px;
    margin: 0 auto 25px auto;
    position: relative;
}

.faq a,
.faq ul {
    list-style: none;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: white;
}

.faq a:hover {
    color: rgb(0, 140, 255);
}

/* Footer - FAQ section*/ 
footer {
    text-align: center;
    margin-bottom: 10px;
}

footer .paragraph-font {
    font-size: 10px;
}

footer img {
    width:  100px;
}

